# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Terraform crash logs
crash.log

# Ignore all .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Sensitive variable files
*.tfvars
*.tfvars.json

# AWS credentials / config
*.pem
*.key
.aws/

# OS / Editor specific
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
